<%- include('partials/header') %>



<nav class="navbar navbar-dark navbar-expand">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="images/mars_tv.png" alt=""></a>
        <ul class="navbar-nav d-inline-flex">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-solid fa-bell"></i></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-solid fa-magnifying-glass"></i></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-user"></i></a>
            </li>
        </ul>
    </div>
</nav>
<section id="landing">
    <div class="container land">
        <div class=" hbtn-group">
        <button class="btn but btn-lg watch-now hbtn"> <i class="fas hbtn-icon fa-solid fa-play"></i> Watch Now</button>
        <button class="btn but  btn-lg btn-light more-info hbtn"> <i class="fas hbtn-icon fa-regular fa-circle-exclamation"></i> More Information</button>
    </div>

        
    </div>
      
</section>